@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-family: 'Poppins';
    color: #f3ae4d;
}

header .back {
    position: absolute;
    top: 2%;
    left: 5%;
    font-size: 2em;
}

header .back a > i {
    color: #f3ae4d;
}

header .refresh {
    position: absolute;
    top: 2%;
    right: 5%;
    font-size: 2em;
}

header .refresh a > i {
    color: #f3ae4d;
}