section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-container video {
    margin-top: 50px;
    box-shadow: 5px 15px 20px 0px rgba(0,0,0,.5);
    width: 966px;
    height: 100%;
}

.choice-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 150px;
}

.choice-container a {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 34px;
    background-color: #f3ae4d;
    color: #fff;
    padding: 10px 50px;
    border-radius: 10px;
    border: 3px solid #f3ae4d;
}

.choice-container a:hover {
    background-color: #fff;
    color: #f3ae4d;
    transition: all 250ms ease;
}